---
component: topBanner
---

<div class="container topBannerCont">
  <div class="row">

    <div class="col-md-offset-7 col-md-5 visible-md visible-lg mainTitleCont">

        <h1>{{ site.title }}</h1>
        <div class="maxime">
          {{ site.maxime }}
        </div>
      </div>
    </div>

  </div>
</div>

