//main variables

// paths

$assets_path: "/assets/";
$img_path: "/assets/images";

// colors
$botY : #F8E01E;
$labGreen : #0B8140;
$linkColor : #999;
$bodyTxtColor : #666;
$titleColor : #484848;
$navBgc : $botY;

$footerBgColor : $botY;
// flatMenu
$ftmTxtColor : $bodyTxtColor;
$ftmTxtHghtColor : #181818;
// fonts
$bodyFont:'Roboto Condensed', sans-serif;

// sizes
$sectionSpacer : 20px; // espace entre chaque rang de block


