// index
.introTextCont{
  margin: 20px 0 25px;
  p{
    padding: 0 15px;
  }
}

.bulletPointCont{
  img{
    width: 30%;
  }
}

.rowThreeBlock{
  margin-top: 40px;
}

.block-1-3{text-align: center;}
